<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--Database Config-->
    <!--0: Connection String-->
    <!--1: Login, Password-->
    <!--2: Windows Authentification-->
    <add key="DBHost" value="DESKTOP">
    </add>
    <add key="DBName" value="EDAS">
    </add>
    <add key="DBLogin" value="DESKTOP\HemanthuKumar">
    </add>
    <add key="DBPassword" value="">
    </add>
    <!--DBTrustedConnection: true then Connection string will be used else user and password is required-->
    <add key="DBTrustedConnection" value="true">
    </add>
    <add key="DBConnectionString" value="Data source=DESKTOP; Initial Catalog=EDAS; Integrated Security=True">
    </add>
    <!--Instrument Lookup-->
    <add key="PSV" value="Pressure Safety Valve">
    </add>   
    <add key="PCV" value="Pressure Control Valve">
    </add>   
    <add key="LG" value="Level Gauge">
    </add>   
    <add key="LIZA" value="Level Indicating Alarm Hi Hi">
    </add>
    <add key="SDV" value="Shutdown Valve">
    </add>
    <add key="ZSO" value="Limit Switch Open">
    </add>
    <add key="PID" value="Differential Pressure Indicator">
    </add>
    <add key="PDIA" value="Differential Pressure Indicating Alarm Hi">
    </add>
    <add key="LIA" value="Level Indicating Alarm Hi">
    </add>
    <add key="PT" value="Pressure Transmitter">
    </add>
    <!--Instrument Unit Lookup-->
    <add key="LG-Unit" value="mm">
    </add>   
    <add key="LIZA-Unit" value="mm">
    </add>
    <add key="LIA-Unit" value="mm">
    </add>
    <add key="PDIA-Unit" value="mmH2O">
    </add>
    <add key="PCV-Unit" value="%">
    </add>
    <!--Version Number Lookup-->
    <add key="FileVersionNumberLength" value="2">
    </add>
    <!--Tag Number Block Length-->
    <add key="Tag_Number_Block_Length" value="2">
    </add>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
